#nav-icon {
  padding-bottom: 5px;
  border-radius: 10px;
  border: none;
  width: fit-content;
  height: 50px;
  justify-content: center;
  cursor: pointer;
}

nav {
  background-color: grey;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  background-color: white;
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#nav-btn,
#register-btn,
#login-btn {
  background-color: pink;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

#login-field {
  outline-style: auto;
  border: none;
  border-radius: 30px;
  background-color: snow;
  width: 300px;
  height: 30px;
}

#login-field-text {
  font-family: "Inter", sans-serif;
  font-size: large;
}

#main-text-center {
  margin: auto auto;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-box {
  margin: auto auto;
  border: 1px solid #ccc;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  input[type="text"] {
    width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  input[type="text"] {
    width: 300px;
  }
}

@media screen and (max-width: 756px) {
  #nav-btn {
    display: none;
  }

  input[type="text"] {
    width: 200px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  padding: 10px;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 50px;
}

#quiz-code-input {
  width: 500px;
  height: 30px;
}

#top-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 2.5rem;
}

#left-btn {
  font-size: 20px;
  background-color: pink;
  width: 180px;
  height: 50px;
  border: none;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

#middle-content {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  /* position: relative; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#middle-quiz-content {
  width: 60%;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
}
#middle-quiz-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#right-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

#top-categories {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

#hot-quizzes {
  margin-top: 20px;
}

#hot-topics {
  margin-top: 20px;
}

.user-details-box {
  /* position: relative; */
  background-color: rgb(184, 231, 255);
  height: 500px;
  margin-top: 20px;
}

#editbtn {
  background-color: rgb(66, 141, 210);
  border-style: none;
  margin-top: 25px;
  margin-right: 25px;
  float: right;
  padding: 10px;
  color: white;
  cursor: pointer;
}

#editbtn:hover {
  background-color: rgb(79, 162, 240);
}

.recent-activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: rgb(66, 141, 210);
  margin: 10px;
  float: right;
}

.section {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.segment {
  margin: 10px;
  padding: 10px;
  display: flex;

  overflow: hidden;
}

.user-profile {
  height: max-content;
}
